{{ define "main" }}
<template id="greetings" style="white-space:pre; " >
     _    _         _   _____                _                                  _   _ _____ _     _        _    _     
    / \  | |__   __| | | ____|_ __ _ __ __ _| |__  _ __ ___   __ _ _ __   ___  | | | | ____| |   | |      / \  | |    
   / _ \ | '_ \ / _` | |  _| | '__| '__/ _` | '_ \| '_ ` _ \ / _` | '_ \ / _ \ | |_| |  _| | |   | |     / _ \ | |    
  / ___ \| |_) | (_| | | |___| |  | | | (_| | | | | | | | | | (_| | | | |  __/ |  _  | |___| |___| |___ / ___ \| |___ 
 /_/   \_\_.__/ \__,_| |_____|_|  |_|  \__,_|_| |_|_| |_| |_|\__,_|_| |_|\___| |_| |_|_____|_____|_____/_/   \_\_____|
              
A passionate python developer from Algeria                                                                                                                                  
</template>
  <script>
  var banner = [
        '     _    _         _   _____                _                                  _   _ _____ _     _        _    _     ',
        '    / \\  | |__   __| | | ____|_ __ _ __ __ _| |__  _ __ ___   __ _ _ __   ___  | | | | ____| |   | |      / \\  | |    ',
        "   / _ \\ | '_ \\ / _` | |  _| | '__| '__/ _` | '_ \\| '_ ` _ \\ / _` | '_ \\ / _ \\ | |_| |  _| | |   | |     / _ \\ | |    ",
        '  / ___ \\| |_) | (_| | | |___| |  | | | (_| | | | | | | | | | (_| | | | |  __/ |  _  | |___| |___| |___ / ___ \\| |___ ',
        ' /_/   \\_\\_.__/ \\__,_| |_____|_|  |_|  \\__,_|_| |_|_| |_| |_|\\__,_|_| |_|\\___| |_| |_|_____|_____|_____/_/   \\_\\_____|'
    ];
    
  $('body').terminal({
    cat: function(width, height) {
        const img = $('<img src="https://placekitten.com/' +
                      width + '/' + height + '">');
        this.echo(img);
    }
}, {
    greetings: false,
    onInit() {
    
    	    var title = this.cols() > banner[1].length ? banner.join('\n') : 'GIT Web Terminal';
    	    title = title + '\n\n' + 'use [[;#fff;]help] to see the available commands' +
               ' or [[;#fff;]credits] to list the projects used\n';
            this.echo(title)
              
        }
});
/*
$('[data-index="0"]').children().children().css({"color": "red", "white-space": "pre"});
$('[data-index="0"]').children().children().css("white-space: pre;");

$('[data-index="0"]').children().children().text(function(i,oldtext){
console.log(oldtext)
if(i<5){
return banner[i];
} else {
return oldtext;
}

});
console.log($('[data-index="0"]').children(":nth-child(4)"))
*/
 </script>
{{ end }}
