{{ define "main" }}
<main class=" flex flex-row justify-center md:m-4">
<div class="w-full md:w-11/12 lg:w-8/12 max-w-4xl bg-black rounded-md text-white mx-auto mx-2 my-2 p-4">
<section class="container list">
    <h2 class="font-bold text-l md:text-2xl ">Posts:</h2>
    <ul class="pl-8  list-disc list-inside">
      {{- range .Paginator.Pages -}}
	    <li>
	      <a class="title text-zinc-400 underline decoration-dashed hover:decoration-solid underline-offset-4" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
	    </li>
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
</div>
</main>
{{ end }}
