{{ define "main" }}

<main class=" flex flex-row justify-center md:m-4">
<div class="w-full md:w-11/12 lg:w-8/12 max-w-4xl bg-black rounded-md text-white mx-auto mx-2 my-2 p-4">
<section class="container list">
    <h2 class="font-bold text-l md:text-2xl py-2">Projects:</h2>
      {{- range .Paginator.Pages -}}
	    
	      <a class="title text-zinc-400 border-zinc-400" href="{{ .Params.externalLink | default .RelPermalink }}">
	              <div class="border-2 border-dashed hover:border-solid  p-2 flex flex-col md:flex-row md:h-64 gap-2 md:ml-2" >

              {{ $img_screen := .Resources.GetMatch "screen.png" }}<img src="{{ $img_screen.Permalink }}" alt="{{ .Title }} image" >
              <div>
                 <h3 class=" font-bold pt-2">{{ .Title }}</h3>
                 <p>{{ .Params.description }}</p>
                 <div>
                    <dl>
                       <dt class=" font-bold ">Tools</dt>
                       {{ range .Params.tools }}
                       <dd>- {{.}}</dd>
                       {{- end -}}
                    </dl>

              </div>
           </div>
        </div>
        </a>
	    
      {{- end -}}
    

    {{ partial "pagination.html" . }}
  </section>
</div>
</main>
{{ end }}
