<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
		<style> @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap'); </style>
		<link rel="stylesheet" href="/css/styles.css">
		
	</head>
	<body style="font-family: 'Space Mono', monospace;">
	  {{- partial "header.html" . -}}
	  <script src="js/index.js"></script>
	  {{- block "main" . }}{{- end }}
	  {{- partial "footer.html" . -}}

	</body>
</html>
