<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
		<style> @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap'); </style>
		<style type="text/tailwindcss">
    @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #content h2,h3 {
    @apply my-4 md:text-xl;
  }
  #content p {
    @apply my-2;
  }
  #content li {
   list-style-position: revert;
    @apply list-decimal ml-8;
  }
}
  </style>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body class="relative bg-zinc-200 " style="font-family: 'Space Mono', monospace;">
	  {{- partial "header.html" . -}}
	  <script src="js/index.js"></script>
	  {{- block "main" . }}{{- end }}
	  {{- partial "footer.html" . -}}

	</body>
</html>
