@media screen and (max-width: 650px) {
  .headerlogo {
    font-size: 5px;
    line-height: 6px;
  }
}

@media screen and (min-width: 650px) {
  .headerlogo {
    font-size: 0.75rem;
    line-height: 16px;
  }
}


