@media screen and (max-width: 650px) {
  .headerlogo {
    font-size: 5px;
    line-height: 6px;
  }
}

@media screen and (min-width: 650px) {
  .headerlogo {
    font-size: 0.75rem;
    line-height: 16px;
  }
}


p,li {
	color:#a1a1aa;
}
li {
	list-style-type: disc;
	list-style-position: inside;
}

a {
	color:white;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

